*.exe
*.vbw
*.zip
*.log

/installer/Workspace/
!/installer/Workspace/current.ini

/installer/undo/

/installer/Temp/
!Temp/gif.tga

/installer/Prefabs/

/installer/skins/
!/installer/skins/default/
build/
build-*/
/dist/
*.o
*.ppu
# Platform-specific compiled vendor artifacts
vendor/*.a
vendor/*.o
